body {
  font-family: "Titillium Web", sans-serif;
}

#background {
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#background > img {
  min-width: 100%;
  max-width: 100%;
  max-height: 50%;
  min-height: 50%;
  overflow: auto;
  transform: scale(1, 1);
}

.navbar {
  float: right;
  width: 100%;
  background-color: rbga(255,255,255,0);
}

.navbar-header > a {
  font-size: 28px;
  width: 30%;
}

.nav {
  display: inline-block;
  width: 70%;
}

.nav > button {
  font-size: 20px;
  background-color: transparent;
  border: none;
  padding: 1% 5%;
}

.nav > button > h5 {
  font-size: 20px;
  color: #007bff;
  align-self: center;
}

.nav > button > h5:hover {
  color: #0056b3;
  cursor: pointer;
}

.nav > button:focus {
  outline: none;
}

.underline {
  background-image: linear-gradient(black, black);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .3s ease-out;
}

.underline:hover {
  text-decoration: none;
  background-size: 100% 1px;
}

.top-buffer{
  margin-top: 15vh;
}

.img-max {
  max-width: 100%;
  height: auto;
}

#links {
  background-color: #77bbff;
  border-bottom-left-radius:0.25rem;
  border-bottom-right-radius:0.25rem;
  padding: 1% 0%;
}

.text-decoration-none:hover {
  text-decoration: none;
}

.text-black {
  color: #000;
}

.buffer {
  margin-top: 45vh;
}
