body {
  font-family: "Titillium Web", sans-serif;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 50%;
}

.navbar-header > a {
  font-size: 28px;
  background-image: linear-gradient(black, black);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .3s ease-out;
}

.navbar-header > a:hover {
  text-decoration: none;
  background-size: 100% 2px;
}

.navbar {
  float: right;
  width: 100%;
}

.nav > li {
  font-size: 20px;
  padding: 1% 5%;
  display:inline-block;
}

.nav > li > a {
  background-image: linear-gradient(black, black);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .3s ease-out;
}

.nav > li > a:hover {
  text-decoration: none;
  background-size: 100% 1px;
}

.top-buffer{
  margin-top: 15vh;
}

.img-max {
  max-width: 100%;
  height: auto;
}

#links {
  background-color: #77bbff;
  border-bottom-left-radius:0.25rem;
  border-bottom-right-radius:0.25rem;
  padding: 1% 0%;
}
